.orange-color-text {
    color: #FF8B00;
    font-family: Maven Pro;
    font-size: 40px;
    font-weight: 800;
    line-height: 43.2px;
    text-align: center;
    margin-top: 3rem;
    padding-bottom: 0.7rem;
}

.violet-color-text {
    color: #5C2D91;
    font-family: Maven Pro;
    font-size: 32px;
    font-weight: 800;
    line-height: 43.2px;
    text-align: center;

}

.bg-orange {
    background: linear-gradient(90.97deg, #F7941D 58.96%, rgba(255, 173, 75, 0.86) 98.25%);
    text-align: center;
    padding: 0.25rem 5rem 0rem 5rem;
    border-radius: 12px;
    width: 20rem;
    /* gap: -rem; */
    margin-top: -3rem;
    border-color: transparent;
}

.callimg {
    height: 2rem;
    margin-left: -1.5rem;
    margin-top: 0.3rem;
}


.text-plain {
    font-size: larger;
    font-weight: 600;
    width: 1103px;
    height: 113px;
    top: 295px;
    left: 164px;
    text-align: center;
    margin: 1.5rem;
    flex-direction: column;
    line-height: rem;

}

.top-2 {
    margin-top: -1.5rem;
}

.white-text-box {
    color: white;
    padding: 1rem 3rem;
    border-radius: 15px;
    text-align: center;
    width: 300px;
    height: 80px;
    font-size: 1.5rem;
    display: block;
    margin: 1rem ;
}

.bg-linear-orange {
    background: linear-gradient(181.16deg, #DE800E 0.99%, #EFA246 99.01%);
    padding: 3rem 1rem 0rem 3rem;
    justify-content: center;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    border-radius: 60px 60px 0px 0px;
    height: 13rem;
    width: 45rem;
    margin: 0 auto;


}

.top-padding {
    padding-top: 130px;
}

.head-font {
    font-family: Arial, sans-serif;

}

.button-flex {
    display: flex;
    height: 3.5rem;
}

.white-text {
    color: white;
    font-size: 25px;
    width: 25rem;
    margin-left: 1.5rem;
}

.basic-package {
    background: #FFF7ED;
    padding-top: 2rem;
}

.bullet-text {
    color: white;
    font-weight: bold;
    font-family: Maven Pro;
    font-weight: 600;
    line-height: 28.2px;
    text-align: left;

}

.works-img {
    height: 9rem;
    padding-left: 3rem;
}


.works-text {
    text-align: center;
    font-weight: bold;
}

.pd-4 {
    padding-bottom: 4rem;
}

.pd-2 {
    padding-bottom: 2rem;
}

.violet-linear-bg {
    background: linear-gradient(181.16deg, #37195A 0.99%, #572B8A 99.01%);
    padding: 3rem 0rem 1rem 4rem;
    margin: 0 25% 0 20%;
    justify-content: center;
    width: 50rem;
    border-radius: 50px 50px 0px 0px;
    line-height: 0.2px;


}

.tick-img {
    height: 2rem;
}

.light-bg {
    background: #F8F2FF;
    padding-top: 2rem;

}

.small-text {
    font-size: 14px;
    margin-top: -1rem;
    text-align: center;
    display: block;
}

.text-price {
    font-size: 36px;
    display: flex;
    justify-content: center;
    margin-top: -4rem;
    font-weight: bold;
    line-height: 1;
}


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 12px;

}

.form-container input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
}

.form-container button {
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.captcha {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.captcha-image {
    width: 100px;
    height: 50px;
    border: 1px solid #ccc;
}

.ind {
    width: 109px;
    height: 97px;
    top: 180px;
    left: 113px;
    margin-top: 65rem;
    margin-left: 6rem;
    position: absolute;


}

.logo {
    width: 100px;
    height: 85px;
    margin-top: -10rem;
    margin-left: 47rem;
}

.add {
    width: 100px;
    height: 100px;
    top: 140px;
    left: 1101px;
    opacity: 0.15px;
    margin-top: -20rem;
    margin-left: 41rem
}

.addb {
    width: 62px;
    height: 62px;
    top: 210px;
    left: 212px;
    margin-top: 70rem;
    margin-left: 8rem;
    position: absolute;
}

.indian {
    width: 109px;
    height: 97px;
    top: 320px;
    left: 1156px;
    opacity: 0.45px;
    margin-left: 60rem;
    margin-top: -10rem;
}

.logo2 {
    width: 109px;
    height: 97px;
    top: 137px;
    left: 154px;
    opacity: 0.75px;
    margin-right: 62rem;
    margin-top: -22rem;
}

.oplus {
    width: 66.97px;
    height: 66.95px;
    top: 181px;
    left: 1142px;
    margin-top: -21rem;
    margin-left: 50rem;

}

.text-voilet {
    background: #FFFFFF;
}

.whitet {
    background: #FFFFFF;

}

.text-background{
    padding: 0rem 2rem 0rem 2rem;
}

.violett-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    margin-top: 2rem;
    margin-left: 0.8rem;

}

.violett {
    color: #5C2D91;
    font-family: 'Maven Pro', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 37.6px;
}

.flag {
    width: 410px;
    height: 412px;
    transform: translate(20px,-9px);
}

.offer {
    position: absolute;
    bottom: 0;
    left: 440px;
    width: 230.34px;
    height: 255.54px;
    transform: translate(30px, -40px);

  }
  

.for-m {
    display: flex;
    margin-top: 5rem;

}

.f{
    background: #5C2D91CC;
    padding: 1rem 4rem 1rem 4rem;
    margin-top: -35rem;
    width: 500px;
    height: 420px;
    color: white;
    border-radius: 15px;
    z-index: 1;
    margin-left:53rem;


}

.text-input {
    height: 3rem;
    width: 22rem;
    border-radius: 8px;
    padding-left: 1rem;
    border-color: transparent;


}

.inputs-txt{
    margin-top: 2rem;
    margin-left: 1.5rem;
}

.center-text{
    text-align: center;
}

.form-head{
    font-family: Maven Pro;
    font-size: 16.21px;
    font-weight: 600;
    line-height: 19.05px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 2rem;
    
}

.req-button{
    color: white;
    height: 3rem;
    width:23rem;
    margin-left: 1rem;
    font-size: large;
    border-radius: 7px;
    border-color: transparent;
    background: linear-gradient(90.97deg, #F7941D 58.96%, rgba(255, 173, 75, 0.86) 98.25%);
    margin-top: 2rem;

}

.req-call-img{
    background: linear-gradient(118.49deg, #3C286B 0%, #88347F 100.84%);
    height:14rem;
    margin-top:11rem;
    border-top-left-radius: 40px;  
    border-bottom-left-radius: 40px; 
    margin-left: 18rem;
    width: 66rem;

    
}
.container-n{
    height: 32rem;
    margin: 4rem 4rem 4rem 4rem;
}